.App {
  text-align: center;
  word-break: break-all;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Screen
{
  height: 100%;
  margin-top:30px;
  display: flex;
}
.Main
{
  width:80vw;
}
.Title
{
  font-size: calc(10px + 5vmin);
}
